.table{
	width: 100%;
}
.lectures-header{
	background-color: rgba(255,165,0, 0.3);;
}
.projects-header{
	background-color: rgba(0, 255, 0, 0.3);;
}
.pset-header{
	background-color: rgba(0, 0, 255, 0.3);;
}
.date-cell{
	background-color: rgba(255, 0, 0, 0.3);;
}
td{
	height:4em;
}