<div id="mySidenav" class="sidenav">
<!--     <img src="img/logo.png" width="150" height="150">
 -->    
    <div class="logo-img"></div>
    <div class="sidenav-link">
        <a href="#">Homepage</a>
        <a href="#">Blog</a>
        <a href="#">Project</a>
        <a href="#">Resume</a>
    </div>
    <div class="icon">
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-github"></i></a>
        <a href=""><i class="fa fa-linkedin"></i></a>
        <a href=""><i class="fa fa-envelope"></i></a>
    </div>
</div>