<header id="header" class="main-container">
  <div class="main">
      <h1 class="header-title col-md-2">
          <a href="{{ site.baseurl }}/">Neuro 121</a>
      </h1>

      <nav class="col-md-10">
      <ul>
        <li><a href="{{ site.baseurl }}/index">Home</a></li>
        <li><a href="{{ site.baseurl }}/pages/schedule">Schedule</a></li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lectures
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" type="button">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture1">Lecture 1: Introduction to Ethology</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture2">Lecture 2: Computational Ethology</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture3">Lecture 3: Intro to Pose Estimation</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture4">Lecture 4: Pose Estimation</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture5">Lecture 5: Big Data Body Pose</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture6">Lecture 6: Time Series</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture7">Lecture 7: Introduction to ML</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture8">Lecture 8: Supervised Models</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture9">Lecture 9: Unsupervised Models</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture10">Lecture 10: Primary Behaviors</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/lectures/lecture11">Lecture 11: Secondary Behaviors</a></li><br>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sections
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" type="button">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section1">Section 1: Introduction to Ethology</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section2">Section 2: Computational Ethology</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section3">Section 3: Intro to Pose Estimation</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section4">Section 4: Pose Estimation</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section5">Section 5: Big Data Body Pose</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section6">Section 6: Time Series</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section7">Section 7: Introduction to ML</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section8">Section 8: Supervised Models</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section9">Section 9: Unsupervised Models</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section10">Section 10: Primary Behaviors</a></li><br>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/pages/sections/section11">Section 11: Secondary Behaviors</a></li><br>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/homework">PROJECT</a></li>
        <li><a href="{{ site.baseurl }}/homework">PSET</a></li>
      </ul>
      </nav>
  </div>
</header>